*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  /*min-height: 1000px;*/
}

body{
  padding: 20px;
}
.container{
  height: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
  /*margin: 20px;*/
}
.topology{
  height: 100%;
}

.link_error{
    stroke:red !important;
}

.nodetext, #getMoreDiv {
    font: 12px sans-serif;
    -webkit-user-select:none;
    -moze-user-select:none;
    stroke-linejoin:bevel;
}
#getMoreDiv{
  height: 64px;
  width: 64px;
  position: absolute;
  background-color: red;
  display: none;
  background-color: rgba(22,22,22,0.5);
  color: white;
  line-height: 64px;
  text-align: center;
  cursor: pointer;
}

.operLineClass{
  stroke: green !important;
  animation: none !important;
  -webkit-animation: none !important;
  stroke-dasharray: 1000 !important;
}
.childLineClass{
  stroke: black;
}

.backLink{
  stroke: #ddd !important;
  animation: none !important;
  -webkit-animation: none !important;
  stroke-dasharray:1000 !important;
}
.operLinks{
  animation: none !important;
  stroke-dasharray:400 !important;
}
.link {
  stroke-width: 3;
  stroke: steelblue;
  fill: none;
  stroke-dasharray:40;
  stroke-dashoffset:400;
  -webkit-animation: 'draw' 10s linear infinite;
  animation: 'draw' 10s linear infinite;
  stroke-linejoin:bevel;
}

@-webkit-keyframes draw {
    0% {
        stroke-dashoffset: 400;
    }
    100% {
        stroke-dashoffset: 0;
    }
    /*100% {
        stroke-dashoffset: 400;
    }*/
}
.c_right,
.c_left{
  height: calc(100% - 10px);
  width: 5px;
  background: white;
  cursor: ew-resize;
  /*margin: 5px 0;*/
  top: 5px;
}

.c_top,
.c_bottom{
  height: 5px;
  width: calc(100% - 10px);
  background: white;
  cursor: ns-resize;
  /*margin: 0 5px;*/
  left:5px;
}
.c_right{
  right: 0;
}
.c_bottom{
  bottom: 0;
}
.c_top_left,
.c_top_right,
.c_bottom_left,
.c_bottom_right{
  width: 5px;
  height: 5px;
}

.c_top_left, .c_bottom_right{
  cursor: nw-resize;
}
.c_bottom_left, .c_top_right{
  cursor: sw-resize;
}
.c_top_left{
  top: 0;
  left: 0;
}
.c_top_right{
  top: 0;
  right: 0;
}
.c_bottom_left{
  bottom: 0;
  left: 0;
}
.c_bottom_right{
  bottom: 0;
  right: 0;
}
.c_drag{
  position: absolute;
  border-radius: 50%;
}
.c_drag:hover{
  background-color: #ccc;
}
